body {
    margin:0;
    padding:0;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    min-width: 850px;
}

h1 {
    color:#FFF;
    font-family:'Josefin Sans', sans-serif;
    font-size: 50px;
    font-weight: bold;
    text-align: left;
    margin-left:8%;
}

h2 {
    color:#FFF;
    font-family:'Josefin Sans', sans-serif;
    font-size: 40px;
    font-weight: bold;
    text-align: left;
    width: 90%;
}

h3 {
    color:#FFF;
    font-family:'Josefin Sans', sans-serif;
    font-size: 40px;
    font-weight: bold;
    text-align: left;
    color: #073949;
}

h4 {
   color: #ffffff;
   font-family:'Open Sans', sans-serif;
   font-size: 20px;
}

h5 {
    color: grey;
    font-family:'Open Sans', sans-serif;
    font-size: 14px;
}

.lessonBox_title {
    font-family:'Josefin Sans', sans-serif;
    font-size: 25px;
    font-weight: bold;
    color: #073949;
}

.left_half {
    width: 20%;
    padding-left:10%;
    padding-right:3%;
    padding-top:1%;
    float: left;
}

.headerPic {
  width: 280px;
}

.headerPic1 {
  padding-top: 0%;
  padding-left: 5%;
  width: 85%;
}

.right_half {
    width: 50%;
    float: left;
    padding-top:1%;
}

.section1{
    width:100%;
    float: left;
 }

 #homePage_s1 {
    background-color: #89CCE2;
    padding-bottom:20px;
 }

.section1 button{
    height: 70px;
    width: 250px;
    margin-right: 0px;
    color: #FFF;
    border-radius: 20px;
    z-index: 1000;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    line-height: 2;
    position: relative;
}

#homePage_button {
    background-color: #6eb43f;
    cursor: pointer;
}

.section2{
    background-color:#0068AC;
    float: left;
    width:100%;
}

.long_lesson {
    width: 50%;
    margin: 5% 20%;
    height: 300px;
    background-color: #ffffff;
    color: black;
}

.LL_img {
    width: 50%;
    height: 100%;
    float: left;
    background-position: center;
    background-size: 90%;
    background-repeat: no-repeat;
}

#home_CyberBullying {
    background-image: url("img/cyberbullyingfinal.png");
    background-color: #ffffff;
}

#home_SelfPres {
    background-image: url("img/safepostfinal.png");
    background-color: #ffffff;
}

#home_DigitalFoot {
    background-image: url("img/digfootfinal.png");
    background-color: #ffffff;
}

#home_Presentation {
    background-image: url("img/selfpresfinal.png");
    background-color: #ffffff;
}
#home_Privacy {
    background-image: url("img/privacyfinal.png");
    background-color: #ffffff;
}

#home_NewsLit {
    background-image: url("img/newslitfinal.png");
    background-color: #ffffff;
}

.LL_text {
    width: 45%;
    margin: 2.5% 2.5%;
    height: 100%;
    float: left;
    text-align: center;
    font-size: 12px;
}

.section3{
    width:90%;
    float: left;
    background-color:#073949;
    padding: 2% 5%;
}

.forparents_lessons {
    width: 29%;
    margin: 5% 2%;
    height: 350px;
    float: left;
    background-color: white;
    color: black;
    box-shadow: 5px 5px 10px #2F4F4F;
}

.topnav {
    background-color: white;
    width: 100%;
    height: 90px;
}

#logoCont {
    width: 25%;
    float: left;
    padding-top: 14.5px;
}

#logo {
    font-family:'Josefin Sans', sans-serif;
    float: left;
    color: black;
    text-align: center;
    text-decoration: none;
    font-size: 25px;
    padding-left: 40px;
    background-color: white;
}

#logo img {
  width:100px;
  height:auto;
  padding-bottom:6px;
  vertical-align: middle;
}

#linksCont {
    width: 60%;
    padding-right: 5%;
    padding-left: 3%;
    float: left;
    text-align: center;
}

.links {
    font-family:'Open Sans', sans-serif;
    float: left;
    color: black;
    text-decoration: none;
    font-size: 17px;
    background-color: white;
    width: 16%;
    padding-top:16.5px;
    padding-bottom:16.5px;
}

.links:hover {
    color: white;
    cursor: pointer;
    font-weight:bold;
    background-color: #89cce2;
}

#loginCont {
    width: 20%;
    float: left;
}

/* #smallButton {
    height: 40px;
    width: 150px;
    margin-right: 16px;
    background-color: #6eb43f;
    color: #FFF;
    border-radius: 10px;
    float: right;
    z-index: 1000;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    text-align: center;
    line-height: 2.5;
} */

#eduguide_button {
    background-color: #6eb43f;
    color: #FFF;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    cursor: pointer;
}

/*Lessons Page Styling*/
.lessons_container {
    width: 80%;
    padding-left: 10%;
    padding-right: 10%;
}

.lessons_container a:link {
  text-decoration: none;
}

.black {
  color: black;
}

.Bottom_TextHalf .black, a {
  font-size: 14px;
}

.lessonsBox {
    width: 40%;
    margin-left:6.4%;
    margin-bottom:5%;
    margin-top:3%;
    height: 400px;
    float: left;
    text-align: center;
    box-shadow: 5px 5px 10px grey;
    color: black;
    overflow: hidden;
}

.Top_PicHalf {
    width: 100%;
    height: 125%;
    float: left;
    background-color: #89CCE2;
    background-position: center;
    background-size: 70%;
    background-repeat: no-repeat;
}

.likepic {
    width: 100%;
    height: 60%;
    float: left;
}

.esteem-pic {
  width: 100%;
  height: 60%;
  float: left;
}

#lesson_CyberBullying {
    background-image: url("img/cyberbullyingfinal.png");
    background-color: #ffffff;
    background-position: bottom;
}

#lesson_News{
    background-image: url("img/newslitfinal.png");
    background-color: #ffffff;
}

#lesson_Info {
    background-image: url("img/safepostfinal.png");
    background-color: #ffffff;
}

#lesson_Online{
    background-image: url("img/selfpresfinal.png");
    background-color: #ffffff;
}

#lesson_DigitalFoot {
    background-image: url("img/digfootfinal.png");
    background-color: #ffffff;
}

#lesson_Privacy {
    background-image: url("img/privacyfinal.png");
    background-color: #ffffff;
}

.Bottom_TextHalf {
    width: 96%;
    float: left;
    text-align: center;
    margin-left: 2%;
    margin-right: 2%;
}

/*For Parent Page Styling*/
#forParents_s1 {
    background-color: #89CCE2;
    height: 260px;
}

#forParents_button {
    background-color: #89CCE2;
    cursor: pointer;
}

/*Lesson Page Styling*/
.lessonheader {
    background-color: #89cce2;  /* #073949; */
    width: 100%;
    float: left;
    height: 220px;
    padding: 20px 20px;
}

.lessontitle {
    padding-top: 110px;
    width: 75%;
}

.lessoncontent {
    width: 80%;
    padding: 2% 10%;
    margin-bottom:3%;
    float: left;
}

.lessoncontent p {
  width: 800px;
  /* font-size: 15px; */
}

.lessonsubheader {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 25px;
    color: #777777;
    padding-top: 20px;
}

/*the "view all our lessons" button on home page*/
.lesson_button {
  float: right;
  color: #FFF;
  text-decoration: none;
  font-size: 15px;
  width: 30%;
  margin-bottom: 15px;
}

/*Footer Stylings*/
.footer {
    width: 96%;
    float: left;
    background-color: #d3d3d3;
    height: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 2%;
    padding-left: 2%;
}

.footCont_title {
    width: 10%;
    float: left;
    padding-top:10px;
}

.fTL {
    text-decoration: none;
}

.footCont_links {
    width: 90%;
    float: left;
}

.footertitle {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 15px;
    color: grey;
    padding: 0;
    margin: 0;
    text-align: center;
}

.footerlinks {
    text-align: right;
    padding-left: 30px;
    float: right;
    text-decoration: none;
    color: grey;
}

#underline, #underline2, #underline3, #underline4, #underline5, #underline6 {
  text-decoration: underline;
  color: blue;
}

@media only screen and (max-width: 1665px) {

  #logoCont {
      width: 30%;
  }

  #logo {
      font-size: 25px;
  }

  #logo img {
    width: 25%;
    height:auto;
  }

  #linksCont {
    padding-left: 1%;
    width: 65%;
    padding-right: 0%;
  }

  .headerPic1 {
    padding-top: 10%;
    padding-left: 3%;
    padding-right: 3%;
    width: 100%;
  }

  .right_half {
      width: 60%;
      float: left;
      padding-top:1%;
  }

  .Top_PicHalf {
      width: 100%;
      height: 55%;
      background-size: 80%;
  }

  .fontbig {
    font-size: 14px;
  }
}

@media only screen and (max-width: 1359px) {
  #logo img {
    width: 24%;
  }

  .Top_PicHalf {
      height: 47%;
      background-size: 80%;
  }

  .left_half {
      width: 20%;
      padding-left:5%;
      padding-right: 5%;
  }

  .right_half {
    width: 68%;
  }

  .right_half h1 {
    font-size: 43px;
  }
}

@media only screen and (max-width: 1100px) {
  .topnav {
    height: 80px;
  }

  #logo {
    font-size: 18px;
  }

  #logo img {
    width: 30%;
  }

  #logoCont {
      width: 20%;
  }

  #linksCont {
      width: 75%;
  }

  .links {
    font-size: 14px;
  }

  .headerPic {
    width: 230px;
    margin-top: 15px;
  }

  .right_half h1 {
    font-size: 41px;
    margin-top: 40px;
  }

  .right_half h4 {
    font-size: 17px;
  }

  .lessonheader h1 {
    font-size: 40px;
  }

  .Top_PicHalf {
    height: 43%;
    background-size: 95%;
  }

}
