
body {
margin:0;
padding:0;
}

div#header{
width:100%;
height:30%;
position:fixed;
z-index:100;
background-color:#89CCE2;
 } 

div#footer{
width:100%;
height:30%;
position:fixed;
bottom:0;
background-color:#073949;
}

div#content{
background-color:#0068AC;
position:fixed;
width:100%;
height:100%;

    }


.topnav {
    background-color: #000;
    overflow: hidden;
    
}

.topnav a {
    font-family:'Josefin Sans', sans-serif;
    float: left;
    color: #FFF;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 25px;
    background-color: #000;
    margin-right: 150px;
}
.topnav b {
    font-family:'Open Sans', sans-serif;
    float: left;
    color: #FFF;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 15px;
    background-color: #000;
  
}


.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav b:hover {
    background-color: #ddd;
    color: black;
}


.topnav a.active {
    background-color: #FFF;
    color: black;
}
  
