/* ========== *
* = Global = *
* ========== */
@font-face {
  font-family: Avenir Next;
  src : url('../fonts/Avenir_Next/AvenirNextLTPro-Regular.otf');
  font-weight: 500;
}


@font-face {
  font-family: Avenir Next;
  src : url('../fonts/Avenir_Next/AvenirNextLTPro-Demi.otf');
  font-weight: 600;
}

@font-face {
  font-family: Avenir Next;
  src : url('../fonts/Avenir_Next/AvenirNextLTPro-Bold.otf');
  font-weight: bold;
}


html * {
  font-family: Avenir Next;
}

body {
  margin: auto;
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #F1F8FB;
}

main {
  flex: 1 0 auto;
}

h1{
  font-size: 48px;
  font-weight: bold;
  color: #333333;
}
/*
h2 {
  font-size: 18px;
  font-weight: bold;
  color: #333333;
} */

h3 {
  font-size: 24px;
  font-weight: bold;
  color: #333333;
}

h4, p {
  font-size: 18px;
  color: #545454;
  margin-top: 20px;
  margin-bottom: 40px;
  line-height: 1.7;
  font-weight: 500;
}

.fancy{
  font-size: 36px;
  font-weight: 500;
}

.fancy-color{
  font-weight: bold !important;
  color: #14a1f6 !important;
  font-style: italic !important;
}

.nav-item{
  padding: 0 30px;
}

.testDriveLogo{
  margin-left: 30px;
}

.navbar-brand{
  padding: 0 15px;
}

.nav-link{
  font-weight: 500;
}

.nicelyRoundedButton {
  background-color: #6EB43F;
  color: #FFF;
  width: 270px;
  height: 60px;
  border-radius: 30px;
  cursor: pointer;
  font-size: 20px;
  font-weight: 600;
  border: 0;
}

.caption {
  padding-top: 1em;
  padding-left: 16em;
  padding-right: 16em;
  line-height: normal;
  text-align: center;
  font-size: 24px;
}

ul {
	list-style-type: none;
}

#underline, #underline2, #underline3, #underline4, #underline5, #underline6 {
  text-decoration: underline;
  color: blue;
}

@media only screen and (max-width: 1665px) {

  #logo {
      font-size: 25px;
  }

  #linksCont {
    margin-left: 10%;
    padding-right: 0%;
  }
}

@media only screen and (max-width: 1359px) {
  #logo img {
    width: 24%;
  }

  .Top_PicHalf {
      height: 47%;
      background-size: 80%;
  }
}

@media only screen and (max-width: 1200px) {
  .topnav {
    height: 80px;
  }

  #logo {
    font-size: 18px;
  }

  #logo img {
    width: 30%;
  }

  #linksCont {
      width: 75%;
  }

  .links {
    font-size: 14px;
  }

  .right_half h1 {
    font-size: 41px;
    margin-top: 40px;
  }

  .right_half h4 {
    font-size: 17px;
  }

  .lessonheader h1 {
    font-size: 40px;
  }

  .Top_PicHalf {
    height: 43%;
    background-size: 95%;
  }
}
