/* ========== *
* = Global = *
* ========== */
@font-face {
  font-family: Avenir Next;
  src : url('../fonts/Avenir_Next/AvenirNextLTPro-Regular.otf');
  font-weight: 500;
}


@font-face {
  font-family: Avenir Next;
  src : url('../fonts/Avenir_Next/AvenirNextLTPro-Demi.otf');
  font-weight: 600;
}

@font-face {
  font-family: Avenir Next;
  src : url('../fonts/Avenir_Next/AvenirNextLTPro-Bold.otf');
  font-weight: bold;
}


html * {
  font-family: Avenir Next;
}

body {
  margin: auto;
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #F1F8FB;
}

main {
  flex: 1 0 auto;
}

h1{
  font-size: 48px;
  font-weight: bold;
  color: #333333;
}

h3 {
  font-size: 24px;
  font-weight: bold;
  color: #333333;
}

h4, p {
  font-size: 18px;
  color: #545454;
  margin-top: 20px;
  margin-bottom: 40px;
  line-height: 1.7;
  font-weight: 500;
}

/* button{
  height: 70px;
  width: 250px;
  margin-right: 0px;
  color: #FFF;
  border-radius: 20px;
  z-index: 1000;
  font-size: 20px;
  line-height: 2;
  position: relative;
  border: 0;
} */


.nicelyRoundedButton {
  background-color: #14A1F6;
  color: #FFF;
  z-index: 1000;
  width: 250px;
  height: 60px;
  border-radius: 30px;
  cursor: pointer;
  font-size: 18px;
  line-height: 2;
  font-weight: 600;
  border: 0;
}

.paddedRow {
  padding-top: 3em;
  padding-bottom: 3em;
}

.paddedTop{
  padding-top: 3em;
}

.fancy{
  font-size: 36px;
  font-weight: 500;
}

.brand{
  font-weight: bold !important;
  color: #14a1f6 !important;
  font-style: italic !important;
}

.nav-item{
  padding: 0 30px;
}

.testDriveLogo{
  margin-left: 30px;
}

.navbar-brand{
  padding: 0 15px;
}

.nav-link{
  font-weight: 500;
}

/* .nicelyRoundedButton {
  background-color: #14A1F6;
  color: #FFF;
  width: 270px;
  height: 60px;
  border-radius: 30px;
  cursor: pointer;
  font-size: 20px;
  font-weight: 600;
  border: 0;
} */

.caption {
  padding-top: 1em;
  padding-left: 16em;
  padding-right: 16em;
  line-height: normal;
  text-align: center;
  font-size: 24px;
}

ul {
	list-style-type: none;
}

.paddedRow {
  /* padding-top: 3em; */
  padding-bottom: 6em;
}

.col-md-6, .col-sm-4 {
  padding-top: 15px;
  padding-bottom: 15px;
}

/* Adding extra padding inbetween columns when larger than mobile */
@media (min-width: 768px) {
  .margined-left {
    padding-left: 20px;
  }

  .margined-right {
    padding-right: 20px;
  }
}
