/* STYLE */

.blue_accent {
    color: #0093EC;
}

.donationRow {
    padding-top: 3em;
    padding-bottom: 2em;
}

.col-md-7, .col-md-5 {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 35px;
    padding-right: 35px;
}

/* images */
#donate_img {
    max-width: 100%;
    height: auto;
}

/* button */
.donationButton {
    background-color: #0093EC;
    color: #FFF;
    z-index: 1000;
    width: 300px;
    height: 80px;
    border-radius: 40px;
    cursor: pointer;
    font-size: 20px;
    line-height: 1.2;
    font-weight: 600;
    border: 0;
}

.donationButton-text {
    font-size: 15px;
    margin: 0px;
}