/* STYLE */
.blue_accent {
    color:#0093EC;
  }
  
/* images */

#donate_img_1{
    max-width: 90%;
    height: auto;
}

/* for donate3.html: car svg*/
#donate_img_3 {
    max-width: 80%;
    height: auto;
    padding-top: 2em;
    padding-bottom: 2em;
}

 /* for donate.html: pig svg*/
/* #donate_img_1{
    max-width: 100%;
    height: auto;
} */

#donate_graphic {
    display: flex;
    justify-content: center;
}

.donationButton {
    background-color: #0093EC;
    color: #FFF;
    z-index: 1000;
    width: 320px;
    height: 80px;
    border-radius: 30px;
    cursor: pointer;
    font-size: 20px;
    line-height: 1.5;
    font-weight: 600;
    border: 0;
  }

  .donationButton-text{
      font-size: 15px;
      margin: 0px;
  }