.questionContainer{
  padding: 0;
}

/* Removing bootstrap's default colors */
.nav-pills .nav-link{
  font-size: 18px;
  border-radius: 0px;
  color: #333333 ;
  padding: 8px 0;
}

/* Customizing active tab appearance */
.nav-pills .nav-link.active{
  color: #333333 ;
  background-color: inherit;
  border-bottom: 3px solid #2185D0
}

.navPillRow{
  border-bottom: 1px solid #DCDCDC;
  padding: 0 16px;
}

#pills-tab{
  margin: 0 !important;
}

/* Adding padding to the top and bottom of grid elements */
.paddedRow, .col-sm-6{
  padding-top: 15px !important;
  padding-bottom: 15px !important;
}

/* Adding padding to the bottom of question titles */
.questionTitle{
  padding-bottom: .5em;
}

/* Adding extra padding inbetween columns when larger than mobile */
@media (min-width: 768px) {
  .leftSide{
    padding-right: 30px !important;
  }
  .rightSide{
    padding-left: 30px !important;
  }
}
