.footer {
  height: 60px;
  flex-shrink: 0;
  background-color: #fff;
  box-shadow: 0 -2px 4px 0px #F1F8FB;
  padding-top: 20px;
  padding-bottom: 20px;
  display: inline-flex;
}

#footer-text {
  margin-left: 100px;
  color: #333333;
  font-weight: bold;
}

#footer-links {
  margin-left: 800px;
  color: #333333;
}
