/* Recruitment banner */

.recruitmentBanner {
  margin: 30px 30px 0 30px;
  background-color: white;
  min-height: 100px;
}

.recruitmentBanner p {
  color: #E94B68;
  margin-bottom: 20px;
}

.recruitmentBanner .topLeftCircle {
  z-index: 1;
  position: absolute;
  top: -22px;
  left: -22px;
}

.recruitmentBanner .topLeftIcon {
  z-index: 2;
  position: absolute;
  top: -11px;
  left: -14px;
  transform: rotate(0.9turn);
}

.recruitmentBanner .boldText {
  font-weight: bold;
}

.recruitmentBanner .largeText {
  font-size: 22px;
}

.recruitmentBanner .italicText {
  font-style: italic;
}

/* Educators Page */

.educators_image {
  width:100%;
}

.col-md-6, .col-sm-4 {
  padding-top: 15px;
  padding-bottom: 15px;
}

.testimonialPanel{
  width: 300px;
  height: 300px;
  background-color: white;
  border-radius: 30px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.19);
}
