.educators_image {
  width:100%;
}

.col-md-6, .col-sm-4 {
  padding-top: 15px;
  padding-bottom: 15px;
}

.testimonialPanel{
  width: 300px;
  height: 300px;
  background-color: white;
  border-radius: 30px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.19);
}
