.nicelyRoundedButton {
  background-color: #6EB43F;
  color: #FFF;
  width: 270px;
  height: 60px;
  border-radius: 30px;
  cursor: pointer;
  font-size: 20px;
  font-weight: 600;
  border: 0;
}

.educators_image {
  width:100%;
}

.paddedRow {
  padding-top: 3em;
  padding-bottom: 3em;
}

.col-md-6, .col-sm-4 {
  padding-top: 15px;
  padding-bottom: 15px;
}

.testimonialPanel{
  width: 300px;
  height: 300px;
  background-color: white;
  border-radius: 30px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.19);
}
