/* ========== *
 * = Header = *
 * ========== */
header {
  height: 120px;
	flex-shrink: 0;
	background-color: #F1F8FB;
}

.navbar-container {
	margin-left: auto;
	margin-right: 50px;
	float: right;
  width: 50%;
}

.navbar-links {
    float: left;
    color: #A9A9A9;
    font-size: 18px;
    width: 20%;
    margin: 50px 0px -30px 30px;
}

.navbar-links:hover {
    text-decoration: none;
		color: #333333;
    /* font-weight: bold; */
}

#logo {
  font-size: 32px;
  font-weight: 500;
  color: #333333;
  margin-left: 100px;
  text-decoration: none;
}

#logo_pt2 {
  font-size: 32px;
  font-weight: bold;
  font-style: italic;
  color: #D2AC58;
  text-decoration: none;
}

#logo-container {
  float: left;
  padding-top: 40px;
}



/* #logo img {
  width:100px;
  height:auto;
  padding-bottom:6px;
  vertical-align: middle;
} */
