/* ========== *
 * = Header = *
 * ========== */
.header-container {
	display: flex;
  background-color: #F1F8FB;
  width: 100%;
  height: 120px;
}

.navbar-container {
	margin-left: auto;
	margin-right: 50px;
	float: right;
  width: 50%;
}

.navbar-links {
    float: left;
    color: #A9A9A9;
    font-size: 17px;
    width: 20%;
    margin: 50px 0px -30px 30px;
}

.navbar-links:hover {
    text-decoration: none;
    font-weight: bold;
}

#logo {
  font-size: 30px;
  font-weight: 500;
  color: #333333;
  margin-left: 100px;
  text-decoration: none;
}

#logo-container {
    /* width: 25%; */
    float: left;
    padding-top: 40px;
}

#logo_pt2 {
  font-size: 30px;
  font-weight: bold;
  font-style: italic;
  color: #D2AC58;
  text-decoration: none;
}

/* #logo img {
  width:100px;
  height:auto;
  padding-bottom:6px;
  vertical-align: middle;
} */
