.section1 {
    background-color: #F1F8FB;
    padding-bottom: 4em;
    align-items: center;
    /*width: 100%;*/
    /*float: left;*/
 }

.section1 button {
    height: 70px;
    width: 250px;
    margin-right: 0px;
    color: #FFF;
    border-radius: 20px;
    z-index: 1000;
    font-size: 20px;
    line-height: 2;
    position: relative;
    border: 0;
}

.section2 {
    background-color: #F1F8FB;
    text-align: center;
    /*padding-top: 4em;
    width:100%;
    float: left;*/
}

.caption{
  padding-left: 0;
  padding-right: 0;
}

#homePage_button {
  background-color: #489BFF;
  width: 250px;
  height: 60px;
  border-radius: 30px;
  cursor: pointer;
  font-size: 18px;
  font-weight: 600;
}

/* Screen Reader */
.sr-only {
  color: #000;
}

/* STYLE */
.blue_accent {
  color:#14A1F6;
}

/* images */
#home_img {
  max-width: 100%;
  height: auto;
}

.module-title {
  margin-bottom: 20px;
}

.module-button {
  background-color: #489BFF;
  width: 200px;
  height: 60px;
  border-radius: 30px;
  font-size: 18px;
  font-weight: 500;
  margin-top: 1em;
}

#button-text {
  color: white;
}

.paddedRow {
  padding-top: 10em;
  padding-bottom: 3em;
}

.home_product1 {
  max-width: 700px;
}

/*Mobile Format*/
/*@media screen and (max-width: 480px) {
  .navbar-container{
    display: none;
  }

  .footer{
    display: none !important;
  }

  #intro {
    margin-left: 1em;
    margin-right: 1em;
    margin-top: 1em;
    text-align: center;
    max-width: 100%;
  }

  .caption{
    padding-left: 1em;
    padding-right: 1em;
  }

  .carousel-indicators, #home_graphic {
    display: none;
  }

  .carousel-inner{
    width: 100%;
  }

  .carousel-text {
    max-width: 100%;
    margin: 0 auto;
    text-align: center;
  }

  .module-image {
    max-width: 100%;
  }
}*/


/*Tablet Format*/
/*@media screen and (max-width: 1024px) {

  .footer{
    display: none !important;
  }

  .caption{
    padding-left: 1em;
    padding-right: 1em;
  }

  .carousel-inner{
    width: 100%;
  }

  .carousel-content-container{
    max-width: 100%;
  }
  .carousel-text {
    padding-bottom: 6em;
    width: 60%;
  }

}*/
