/*Modules Page Styling*/
.modules_container {
  display: block;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.moduleBox {
    display: inline-block;
    width: 500px;
    height: 500px;
    margin: 2em;
    text-align: center;
    box-shadow: 0px 4px 16px #C3C3C3;
}

.Top_PicHalf {
    height: 50%;
    background-position: center;
    background-size: 70%;
    background-repeat: no-repeat;
    background-image: url("img/home.png");
    background-color: #000;
}

#lesson_CyberBullying {
    background-image: url("img/cyberbullyingfinal.png");
    background-color: #d3d3d3;
    background-position: bottom;
}

#lesson_News{
    background-image: url("img/newslitfinal.png");
    background-color: #d3d3d3;
}

#lesson_Info {
    background-image: url("img/safepostfinal.png");
    background-color: #d3d3d3;
}

#lesson_Online{
    background-image: url("img/selfpresfinal.png");
    background-color: #d3d3d3;
}

#lesson_DigitalFoot {
    background-image: url("img/digfootfinal.png");
    background-color: #d3d3d3;
}

#lesson_Privacy {
    background-image: url("img/privacyfinal.png");
    background-color: #d3d3d3;
}

.Bottom_TextHalf {
    width: 96%;
    float: left;
    text-align: center;
    margin-left: 2%;
    margin-right: 2%;
}

.Bottom_TextHalf .black, a {
  font-size: 14px;
}
