/* STYLE */

.newslettersRow {
    padding-top: 3em;
    padding-bottom: 2em;
}

.col-md-7,
.col-md-5 {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 35px;
    padding-right: 35px;
}


/* images */

#newsletter_img {
    max-width: 100%;
    padding: 20px 0px;
    height: auto;
}


/* button */

.newsletterButton {
    background-color: #0093EC;
    color: #FFF;
    z-index: 1000;
    width: 200px;
    height: 60px;
    border-radius: 40px;
    cursor: pointer;
    font-size: 20px;
    line-height: 1.2;
    font-weight: 600;
    border: 0;
    margin: 3px 6px 3px 0;
}