.pressItemContainer{
  background-color: white;
  margin: 30px;
}

.pressLeftContainer{
  padding: 30px 40px;
}

.pressText{
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  margin: 0;
}

a p.pressText{
  text-decoration: underline;
  cursor: pointer;
  color: #0093EC;
}

.pressLogoContainer{
  padding: 40px;
  position: relative;
}

.pressLogo{
  width: 100%;
}
