.termsRow{
  padding: 0 46px;
}

.termsSubheader{
  width:100%;
  padding-bottom: 1em;
  margin: 0;
}

.termsSubheader2{
  width:100%;
  padding-top:2em;
  padding-bottom:1em;
  margin: 0;
}

.termsParagraph{
  margin: 1em 0px !important;
}
