.webinarBanner {
  background-color:white;
  min-height:100px;
  margin: 0 30px 0 30px;
}

.webinarBanner img {
  padding:10px 15px 10px 0px;
  max-height:100px;
}

.webinarBanner h3 {
  padding:10px 15px 10px 0px;
}
